<!DOCTYPE HTML>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>Pierre Mézières</title>
  
  <meta name="author" content="Pierre Mézières">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
  <link rel="icon" type="image/png" href="images/seal_icon.png">
</head>

<body>  
       <p style="position:relative;">
    <a id="home" style="position:absolute; top:-50px;"></a></p>
 <div class="topnav" style="width:100%;max-width:800px;text-align:center">
  <a class="active" href="#home" >Home</a>
  <a href="#publications" >Publications</a>
  <a href="#education" >Education</a>
  <a href="#portfolio">Portfolio</a>
</div> 
  <table  style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;margin-top:0px;"><tbody>
    <div class="customspace"></div>
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
          <tr style="padding:0px">
            <td style="padding:2.5%;width:63%;vertical-align:middle">
              <p style="text-align:center">
                <name>Pierre Mézières</name>
              </p>
              <p>
                I am a Computer Science PhD student at the <a href="https://www.univ-tlse3.fr/">University Paul Sabatier</a> of Toulouse, 
                supervised by  <a href="https://www.irit.fr/~Mathias.Paulin/">Mathias Paulin</a>, team member of the <a href="https://www.irit.fr/STORM/site/">STORM 
                team</a> located in the <a href="https://www.irit.fr/">IRIT laboratory</a>.
                Our team is specialized in computer graphics research.
              </p>
              <p>
                My research focus on real-time rendering and in particular on a physically realistic management of light.
              </p>
              <p style="text-align:center">
                <br><a href="https://twitter.com/PierreMezieres"><img src="images/logoTwitter.png" width="35" alt="twitter"/></a> &nbsp; &nbsp;
                <a href="https://github.com/PierreMezieres/"><img src="images/logoGithub.png" width="35" alt="Github"/></a> &nbsp; &nbsp;
                <a href="https://gitlab.com/PierreMezieres/"><img src="images/logoGitlab.png" width="35" alt="Gitlab"/></a> &nbsp; &nbsp;
                <a href="https://www.linkedin.com/in/pierre-m%C3%A9zi%C3%A8res-46231b170/"><img src="images/logoLinkedIn.png" width="35" alt="LinkedIn"/></a> 
                <br><br> Email: pierre.mezieres@irit.fr
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <a href="images/pierre.png"><img style="width:100%;max-width:100%" alt="profile photo" src="images/pierre.png" class="hoverZoomLink"></a>
            </td>
          </tr>
        </tbody></table>

       <p style="position:relative;">
    <a id="publications" style="position:absolute; top:-50px;"></a></p>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
            <tr>
            <td style="padding:20px;width:100%;vertical-align:middle">
              <heading>Publications</heading>
            </td>
          </tr>
        </tbody></table>

          <table style="width:100%;min-width:300px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto"><tbody>
          <tr onmouseout="hypernerf_stop()" onmouseover="hypernerf_start()">
            <td style="padding:5px;width:25%;vertical-align:middle;text-align: center;">
                <a href="images/SHseparableBrdf.png"><img src='images/SHseparableBrdf.png' style="max-width:11em;width:100%;" alt="SHseparableBrdf"></a>
            </td>
            <td style="padding:10px;width:75%;vertical-align:middle">
              <a href="https://hal.archives-ouvertes.fr/hal-03358603">
                <papertitle>Efficient spherical harmonic shading for separable BRDF</papertitle>
              </a>
	      <br>
              <strong>Pierre Mézières</strong>,
	      <a href="https://www.irit.fr/~Mathias.Paulin/">Mathias Paulin</a>
              <br>
              <em>SIGGRAPH Asia - technical communication</em>, 2021 
              <br>
              <a href="https://hal.archives-ouvertes.fr/hal-03358603">HAL</a>
            </td>
          </tr>  
        </tbody></table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>

       <p style="position:relative;">
    <a id="education" style="position:absolute; top:-50px;"></a></p>   
        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20"><tbody>
          <tr>
            <td>
              <heading>Education</heading>
            </td>
          </tr>
        </tbody></table>

<table style="width:80%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;min-width:300px"><tbody>		
<div class="history-tl-container">
  <ul class="tl">
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        2019 - 2022
      </div>
      <div class="item-title">PhD thesis</div>
	<div class="item-detail">
	    Before doing a thesis in the <a href="https://www.irit.fr/STORM/site/">STORM 
                team</a>, I joined <a href="https://www.irit.fr/">IRIT</a> (Institut de Recherche en Informatique de Toulouse) in March 2019 for a six-month internship. 
	      My thesis subject <i><b>Modeling and simulation of lighting for real-time rendering in Computer Graphics </b></i> is quite general,
	      however my work particularly focuses on the use of spherical harmonics, greatly exploited for rendering in Computer Graphics.<br>
	    Advisor: <a href="https://www.irit.fr/~Mathias.Paulin/">Mathias Paulin</a> <br>
	    Affiliation: IRIT, Université de Toulouse, CNRS, INPT, UPS, UT1C, UT2J, France 
</div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        2017 - 2019
      </div>
      <div class="item-title">Master Degree</div>
	<div class="item-detail">
	      I graduated from Paul Sab University - Toulouse III where I studied computer graphics and image analysis (IGAI - Informatique Graphique et Analyse d'Images). 
	</div>
	<div class="item-detailRED">
		Major in both years of the master's degree. 
		<br> I received the <a href="https://www.cimi.univ-toulouse.fr/en/appels-offres/bourses-etudes/"> CIMI </a> excellence scholarships for both years.
	</div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        2014 - 2017
      </div>
      <div class="item-title">Licence Degree</div>
	<div class="item-detail">
	      I graduated from Paul Sab University - Toulouse III where I studied computer science. 
	</div>
	<div class="item-detailRED">
		Major in the second and third year of the licence.
	</div>
    </li>

  </ul>

</div>	
        </tbody></table>

       <p style="position:relative;">
    <a id="portfolio" style="position:absolute; top:-50px;"></a></p>   
        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20"><tbody>
          <tr>
            <td>
              <heading>Portfolio</heading>
            </td>
          </tr>
        </tbody></table>
          

          <table style="width:100%;min-width:300px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto"><tbody>
            <td style="padding:5px;width:25%;vertical-align:middle;text-align: center;">
                <a href="images/rogue.png"><img src='images/rogue.png' style="max-width:11em;width:100%;" alt="rogue"></a>
            </td>
            <td style="padding:10px;width:75%;vertical-align:middle">
                <papertitle>Rogue</papertitle>
	       (<b>R</b>ender <b>O</b>bject <b>G</b>raphic <b>U</b>seless <b>E</b>ngine)
      <br> This 3D engine is oriented for fast rendering prototyping. The last public version made was released before I started my PhD thesis, the vast majority of my thesis work is coded on it. Shortly after the end of my PhD, the public version of Rogue will be updated with all the improvements I coded during the 3 years of my thesis.
	      <br> <a href="https://gitlab.com/PierreMezieres/Rogue">Code</a>
            </td>
        </tbody></table>


          <table style="width:100%;min-width:300px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto"><tbody>
            <td style="padding:5px;width:25%;vertical-align:middle;text-align: center;">
                <a href="images/MBR.png"><img src='images/MBR.png' style="max-width:11em;width:100%;" alt="MBR"></a>
            </td>
            <td style="padding:10px;width:75%;vertical-align:middle">
                <a href="http://fsi-dpt-info.univ-tlse3.fr/master-igai/2018-g1/"><papertitle>Moment Based Rendering</papertitle></a>
	        <br> Re-implementation and comparison of six methods to compute shadows and transparency in real-time:

		<a href="http://fsi-dpt-info.univ-tlse3.fr/master-igai/2018-g1/references/Reeves1987-RenderingAntialiasedShadowswithDepthMaps.pdf"> PCF </a>,
		<a href="http://fsi-dpt-info.univ-tlse3.fr/master-igai/2018-g1/references/vsm_paper.pdf"> VSM </a> and
		<a href="http://fsi-dpt-info.univ-tlse3.fr/master-igai/2018-g1/references/MomentShadowMapping.pdf"> MSM </a>
		for shadows;
		<a href="http://fsi-dpt-info.univ-tlse3.fr/master-igai/2018-g1/references/Interactive%20Order-Independent%20Transparency.pdf"> OIT </a>,
		<a href="http://fsi-dpt-info.univ-tlse3.fr/master-igai/2018-g1/references/Weighted%20Blended%20Order-Independent%20Transparency.pdf"> WBOIT </a> and
		<a href="http://fsi-dpt-info.univ-tlse3.fr/master-igai/2018-g1/references/Muenstermann2018-MBOIT.pdf"> MBOIT </a>
		for transparency.

		 <br> M2 project realised with Alban Odot, Baptiste Delos, Jean-Baptiste Sarazin and Mehdi Djemai.
	      <br> <a href="https://gitlab.com/PierreMezieres/Rogue">Code available on last Rogue public version</a>
            </td>
        </tbody></table>


          <table style="width:100%;min-width:300px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto"><tbody>
            <td style="padding:5px;width:25%;vertical-align:middle;text-align: center;">
                <a href="images/locateVideo.png"><img src='images/locateVideo.png' style="max-width:11em;width:100%;" alt="locateVideo"></a>
            </td>
            <td style="padding:10px;width:75%;vertical-align:middle">
                <papertitle>Locating moving objects in 2D video and adding a 3D audio simulation</papertitle>
	      <br> M2 project realised with Charles Beaudonnet.
	      <br> <a href="https://gitlab.com/PierreMezieres/projet-audiovisuel">Code</a>
            </td>
        </tbody></table>
          
          <table style="width:100%;min-width:300px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto"><tbody>
            <td style="padding:5px;width:25%;vertical-align:middle;text-align: center;">
                <a href="images/locateImage.png"><img src='images/locateImage.png' style="max-width:11em;width:100%;" alt="locateImage"></a>
            </td>
            <td style="padding:10px;width:75%;vertical-align:middle">
                <papertitle>Locating objects in 2D images</papertitle>
	      <br> M2 project realised with Anna Laporte and Suzanne Sorli.
	      <br> <a href="https://gitlab.com/PierreMezieres/projet-localisationobjet">Code</a>
            </td>
        </tbody></table>


          <table style="width:100%;min-width:300px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto"><tbody>
            <td style="padding:5px;width:25%;vertical-align:middle;text-align: center;">
                <a href="images/solarsim.png"><img src='images/solarsim.png' style="max-width:11em;width:100%;" alt="solarsim"></a>
            </td>
            <td style="padding:10px;width:75%;vertical-align:middle">
                <papertitle>SolarSim</papertitle>
	      <br> 3D simulator of false solar systems.
	      <br> <a href="https://gitlab.com/PierreMezieres/SolarSim">Code</a>
            </td>
        </tbody></table>

          <table style="width:100%;min-width:300px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto"><tbody>
            <td style="padding:5px;width:25%;vertical-align:middle;text-align: center;">
                <a href="images/gameoflife.png"><img src='images/gameoflife.png' style="max-width:11em;width:100%;" alt="gameoflife"></a>
            </td>
            <td style="padding:10px;width:75%;vertical-align:middle">
                <papertitle>Game of life</papertitle>
	      <br> The famous game of life in C with SDL library.
	      <br> <a href="https://gitlab.com/PierreMezieres/jeu_vie">Code</a>
            </td>
        </tbody></table>

        <!-- <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20"><tbody>
          <tr>
            <td>
              <heading>Post</heading>
              
            </td>
          </tr>
        </tbody></table>-->
        
          <!-- <a href="Post/SphericalNumericalIntegration.html">Spherical numerical integration</a> -->
          

      <table width="100%" cellspacing="0" cellpadding="20" border="0" align="center">
      <tbody><tr>
          <td>
          <br>
          <p align="right">
            <font size="2">
            Initial template: <a href="https://github.com/jonbarron/jonbarron_website"><strong>Jon Barron</strong></a>
            </font>
          </p>
          </td>
      </tr>

      </tbody></table>

      </td>
    </tr>
  </table>
</body>

</html>
