<!DOCTYPE HTML>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>Pierre Mézières</title>
  
  <meta name="author" content="Pierre Mézières">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
  <link rel="icon" type="image/png" href="images/seal_icon.png">
</head>

<body>
   
	<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#publications">Publications</a>
  <a href="#education">Education</a>
</div> 
  
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
          <tr style="padding:0px">
            <td style="padding:2.5%;width:63%;vertical-align:middle">
              <p style="text-align:center">
                <name>Pierre Mézières</name>
              </p>
              <p>
                I am a Computer Science PhD student at the <a href="https://www.univ-tlse3.fr/">University Paul Sabatier III</a> of Toulouse, 
                supervised by  <a href="https://www.irit.fr/~Mathias.Paulin/">Mathias Paulin</a>, team member of the <a href="https://www.irit.fr/STORM/site/">STORM 
                team</a> located in the <a href="https://www.irit.fr/">IRIT laboratory</a>.
                Our team is specialized in computer graphics research.
              </p>
              <p>
                My research focus on real-time rendering and in particular on a physically realistic management of light.
              </p>
              <p style="text-align:center">
                <a href="https://twitter.com/PierreMezieres"><img src="images/logoTwitter.png" width="35" alt="twitter"/></a> &nbsp; &nbsp;
                <a href="https://github.com/PierreMezieres/"><img src="images/logoGithub.png" width="35" alt="Github"/></a> &nbsp; &nbsp;
                <a href="https://www.linkedin.com/in/pierre-m%C3%A9zi%C3%A8res-46231b170/"><img src="images/logoLinkedIn.png" width="35" alt="LinkedIn"/></a> 
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <a href="images/t.jpg"><img style="width:100%;max-width:100%" alt="profile photo" src="images/JonBarron_circle.jpg" class="hoverZoomLink"></a>
            </td>
          </tr>
        </tbody></table>
        
        <table width="100%" cellspacing="0" cellpadding="20" border="0" align="center">
        <tbody><tr>
          <td width="33%">
            <p align="center">
              Email: pierre.mezieres@irit.fr
            </p>
          </td>
          
        </tr>
        <tr>
          
        </tr>
      </tbody><div></div></table>
	      
	               
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
            <tr>
            <td style="padding:20px;width:100%;vertical-align:middle">
              <heading id="publications">Publications</heading>
            </td>
          </tr>
        </tbody></table>
          
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>

          <tr onmouseout="hypernerf_stop()" onmouseover="hypernerf_start()">
            <td style="padding:20px;width:25%;vertical-align:middle">
              <div class="one">
                <div class="two" id='efficientSHbrdf_image'><video  width=100% height=100% muted autoplay loop>
                <source src="images/efficientSHbrdf_after.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video></div>
                <img src='images/SHseparableBrdf.png' width="160">
              </div>
            </td>
            <td style="padding:20px;width:75%;vertical-align:middle">
              <a href="https://hal.archives-ouvertes.fr/hal-03358603">
                <papertitle>Efficient spherical harmonic shading for separable BRDF</papertitle>
              </a>
	      <br>
              <strong>Pierre Mézières</strong>,
	      <a href="https://www.irit.fr/~Mathias.Paulin/">Mathias Paulin</a>
              <br>
              <em>SIGGRAPH Asia - technical communication</em>, 2021 
              <br>
              <a href="https://hal.archives-ouvertes.fr/hal-03358603">HAL deposit</a>
              <p></p>
              <p></p>
            </td>
          </tr>  
        </tbody></table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>

        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20"><tbody>
          <tr>
            <td>
              <heading id="education">Education</heading>
            </td>
          </tr>
        </tbody></table>
		
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
<div class="history-tl-container">
  <ul class="tl">
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        2019 - 2022
      </div>
      <div class="item-title">PhD thesis</div>
      <div class="item-detail">
	      <br>
	    Advisor: <a href="https://www.irit.fr/~Mathias.Paulin/">Mathias Paulin</a> <br>
	    Affiliation: IRIT, Université de Toulouse, CNRS, INPT, UPS, UT1C, UT2J, France 
	    </div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        2017 - 2019
      </div>
      <div class="item-title">Master Degree</div>
      <div class="item-detail">
	      I graduated from Paul Sab University - Toulouse III where I studied computer graphics and image analysis (IGAI - Informatique Graphique et Analyse d'Image). 
	      <br> <p style="color:#961a00 ";>I was major in both years of my master's degree.</p>
	    </div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        2014 - 2017
      </div>
      <div class="item-title">Licence Degree</div>
      <div class="item-detail">
	      I graduated from Paul Sab University - Toulouse III where I studied computer science. 
	      <br> <p style="color:#961a00 ";>I was major in the second and third year of the licence.</p>
	    </div>
    </li>

  </ul>

</div>	
        </tbody></table>

        <!-- <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20"><tbody>
          <tr>
            <td>
              <heading>Portfolio</heading>
            </td>
          </tr>
        </tbody></table>
          
          
        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20"><tbody>
          <tr>
            <td>
              <heading>Post</heading>
              
            </td>
          </tr>
        </tbody></table>-->
        
          <!-- <a href="Post/SphericalNumericalIntegration.html">Spherical numerical integration</a> -->
          

      <table width="100%" cellspacing="0" cellpadding="20" border="0" align="center">
      <tbody><tr>
          <td>
          <br>
          <p align="right">
            <font size="2">
            Template: <a href="https://github.com/jonbarron/jonbarron_website"><strong>Jon Barron</strong></a>
            </font>
          </p>
          </td>
      </tr>

      </tbody></table>

      </td>
    </tr>
  </table>
</body>

</html>
